chip._chip(style='background-color:{color}')
  | {this.value.name}
  i.material-icons(if='{opts.edit}', onclick='{opts.ondel}') close

  style(type='less').
    ._chip {
      display: inline-block;
      height: 32px;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.6);
      line-height: 32px;
      padding: 0 12px;
      border-radius: 16px;
      background-color: #e4e4e4;

      color: white !important;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      cursor: pointer;

      i.material-icons {
        cursor: pointer;
        float: right;
        font-size: 16px;
        line-height: 32px;
        padding-left: 8px;
      }
    }

  script.
    this.value = opts.value;

    this.on('update', function() {
      if (this.value) {
        var charCode = this.value.name.charCodeAt(0);
        var angle = (charCode*10-250)%360;
        this.color = 'hsl(' + angle + ', 80%, 60%)';
      }
    });
