footer.blue.darken-4.page-footer
  //- .container
  //-   .row
  //-     .col.s12
  //-       h5 Footer 
  div.footer-copyright
    .container
      | Copyright © phi. All rights reserved.
      div.right
        a.grey-text.text-lighten-4(href='#users') users
        | 
        a.grey-text.text-lighten-4(href='#links') links
  style.
    footer.page-footer {
      background-color: hsl(220, 10%, 28%);
    }

