app
  header
  content
  footer
  
  script.
    this.on('mount', function() {
      riot.route.start();

      riot.route(function(path, query) {
        var tag = path[0] || '';

        var loginedPages = [
          '', 'home', 'user', 'users', 'links',
        ];

        // 未ログイン
        if (!window.authData && loginedPages.indexOf(tag) !== -1) {
          riot.route('lp');
          return ;
        }

        var pages = ['lp', 'users', 'home', 'links'];
        if (pages.indexOf(tag) === -1) {
          console.log(tag, 'to', 'user');
          tag = 'user';
        }

        riot.mount('content', tag, {
          path: path,
          query: query,
        });
      });

      var hash = location.hash.replace('#', '');
      if (hash) {
        riot.route(hash);
      }
      else {
        if (window.authData) {
          riot.route('home');
        }
        else {
          riot.route('lp');
        }
      }

      riot.route.exec();
    });

    this.msg = 'Hello, Riot.js';