// # home
home
  div.container
    h2 ホームだよー({user.name})
    p {user.description}
    input(name='link', value='http://phiary.me')
    
    div
      button.btn(onclick='{onadd}') add

    br

    div.row
      div.col.s12(each='{link in links}')
        item(link='{link}')
  script.

    var self = this;
    this.links = [];

    db.users.links.index(authData.uid, function(res) {
      this.links = res;
      this.update();
    }.bind(this));

    this.onadd = function() {
      var url = this.link.value;

      getTitle(url, function(data) {
        self.add(url, data.title);
      });
    };

    this.add = function(url, title) {
      db.users.links.post(window.authData.uid, url, title).then(function() {
        console.log('success add link');
      });
    };

